body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: #222;
    margin: 0;
}

a {
    color: #f0f0f0;
}

.pulldownButton,
h1 {
    display: none;
}

#ag_changes_button {
    margin: 0;
    padding: 0;
}

.ag_changes {
    position: initial;
    height: auto;
    opacity: 1;
    width: 800px;
    height: 580px;
}

.ag_changes .ag_button {
    text-decoration: none;
    padding: 0 8px;
}

.ag_changes .ag_button.icon {
    padding: 0 15px;
}

.alike_xhr_data {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.ag_tabs {
    height: 100%;
    overflow-y: scroll;
}

.ag_changes .no_overflow {
    margin: 0 4px;
}

.ag_changes .game {
    height: 233px;
    width: 122px;
    margin: 9px 7px;
}

.ag_changes .game img {
    height: 183px;
}