/* Content script styles for Steam page injection */

.alike_sub[class^=salepreviewwidgets_SaleItemBrowserRow_] {
	position: relative;
}

.alike_sub[class^=salepreviewwidgets_StoreSaleItemReview_] {
	position: initial;
}

.alike_cont.type-1,
.alike_cont.type-2 {
	position: absolute;
	left: 0;
	top: 33px;
	line-height: 19px;
	z-index: 10;
}

.alike_cont.type-2 {
	pointer-events: none;
}

.TopSellerCapsule .alike_cont.type-2 {
	top: 45px;
}

.home_content.twowide .alike_cont.type-2 {
	top: 68px;
}

.home_content.fourwide .alike_cont.type-1,
.home_content.fourwide .alike_cont.type-2 {
	top: 15px;
}

.store_main_capsule .alike_cont.type-1,
.store_main_capsule .alike_cont.type-2 {
	top: 42px;
}

.broadcast_capsule .alike_cont.type-1,
.broadcast_capsule .alike_cont.type-2 {
	top: 47px;
}

.alike_cont.type-1 .sub_flag,
.alike_cont.type-2 .sub_flag {
	display: block;
	float: left;
	clear: left;
	margin-top: 5px;
	box-shadow: 0 0 6px 0 #000;
}

.alike_cont.type-3 {
	position: relative;
	font-size: 18px;
	font-family: "Motiva Sans", Sans-serif;
	font-weight: 300;
	line-height: 40px;
	color: #fff;
	margin: auto;
	max-width: var(--store-page-width, 940px);
	width: 98vw;
}

.alike_cont.type-3 .sub_flag {
	line-height: 18px;
	padding-left: 20px;
	box-shadow: 1px 1px 2px #000;
	margin: 10px 0 auto -9px;
}

.alike_cont.type-3 .sub_text {
	display: flex;
	width: 100%;
	margin-bottom: 1px;
	background-image: linear-gradient(to right, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.2) 100%);
}

.alike_cont.type-3 .sub_text > *:not(span) {
	flex-grow: 0;
	flex-shrink: 0;
}

.alike_cont.type-3 .sub_text span {
	margin: 0 10px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.alike_cont.type-6 {
	position: absolute;
	bottom: 0;
	left: 9px;
	display: flex;
	z-index: 5;
}

.alike_cont.type-6 .sub_flag {
	display: inline-block;
	height: 25px;
	width: 0;
	margin-right: 5px;
	background-size: 16px;
	box-shadow: 0 -2px 6px 0 #000;
	overflow: hidden;
}

.alike_cont.type-6 .sub_flag:hover {
	filter: none;
}

.hover_info {
	position: absolute;
	background: #fff;
	color: #000;
	margin-left: 6px;
	padding: 6px 6px 7px;
	white-space: nowrap;
	pointer-events: none;
	box-shadow: 2px -2px 6px 0 #000;
	border-top-right-radius: 6px;
	opacity: 0;
	transition: opacity 0.15s ease;
}

.sub_flag:hover {
	z-index: 1;
}

.sub_flag:hover > .hover_info {
	opacity: 1;
}

.alike_cont .sub_flag {
	color: #fff;
	font-size: 10px;
	padding: 0 6px 0 18px;
}

.alike_cont .leaving {
	filter: grayscale(40%);
}

.alike_cont .left {
	filter: grayscale(100%);
}

.alike_cont .soon {
	filter: hue-rotate(30deg);
}

/* Platform colors */
.alike_cont .gamepass,
.alike_cont .gamepasspc,
.alike_cont .gamepasscon {
	background-color: #107c0f;
	background-image: url('data:image/svg+xml,%3Csvg viewBox="0 0 373 373" fill="white" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M167.617 371.807c-28.683-2.747-57.723-13.048-82.669-29.324-20.904-13.639-25.625-19.246-25.625-30.435 0-22.475 24.712-61.84 66.993-106.716 24.012-25.486 57.46-55.36 61.077-54.551 7.031 1.573 63.251 56.411 84.297 82.225 33.28 40.822 48.581 74.246 40.808 89.147-5.909 11.328-42.573 33.467-69.508 41.973-22.2 7.01-51.356 9.981-75.373 7.681zM31.089 288.68C13.718 262.031 4.942 235.795.705 197.848c-1.4-12.53-.898-19.697 3.177-45.415 5.079-32.054 23.333-69.136 45.267-91.957 9.342-9.72 10.176-9.957 21.563-6.121 13.829 4.659 28.596 14.858 51.499 35.567l13.362 12.083-7.297 8.964c-33.872 41.612-69.629 100.597-83.105 137.089-7.326 19.839-10.281 39.753-7.129 48.044 2.128 5.597.173 3.511-6.953-7.422zm304.916 4.533c1.716-8.377-.455-23.763-5.542-39.28-11.016-33.606-47.839-96.124-81.652-138.631l-10.645-13.381 11.516-10.574c15.036-13.806 25.476-22.074 36.74-29.094 8.889-5.54 21.592-10.445 27.052-10.445 3.366 0 15.217 12.299 24.784 25.721 14.817 20.788 25.718 45.987 31.24 72.219 3.569 16.95 3.866 53.232.575 70.14-2.701 13.876-8.403 31.875-13.966 44.082-4.168 9.146-14.535 26.91-19.078 32.691-2.336 2.971-2.338 2.965-1.024-3.448zM170.689 45.462c-15.602-7.922-39.67-16.427-52.965-18.715-4.661-.802-12.612-1.249-17.669-.994-10.97.554-10.48-.02 7.118-8.334 14.63-6.912 26.833-10.976 43.4-14.455 18.636-3.913 53.666-3.959 72.005-.094 19.808 4.174 43.133 12.854 56.276 20.942l3.907 2.404-8.963-.453c-17.81-.899-43.766 6.296-71.632 19.858-8.406 4.09-15.718 7.357-16.25 7.26-.533-.098-7.385-3.436-15.227-7.419z"/%3E%3C/svg%3E');
}

.alike_cont .ubiplus {
	background-color: #428ee0;
	background-image: url('data:image/svg+xml,%3Csvg viewBox="0 0 1000 915" fill="white" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M472.56 2.075c-282.686 0-404.705 251.621-404.705 251.621l35.918 25.711s-45.199 85.954-43.948 196.202c0 225.056 179.152 437.062 442.878 437.062 239.585 0 437.497-195.006 437.497-436.509 0-314.974-244.251-474.087-467.64-474.087zm2.453 76.779c220.862 0 392.245 177.979 392.245 384.887 0 219.337-164.965 371.874-357.198 371.874-141.478 0-269.105-107.74-269.105-255.458 0-85.319 45.348-144.801 96.163-176.502l7.437 8.07c-13.907 10.881-53.56 74.577-53.56 137.183 0 116.222 91.142 196.715 205.972 196.715 146.274 0 243.828-124.76 243.828-269.618 0-168.542-148.772-311.629-327.807-311.629-99.026 0-183.073 42.587-231.368 80.182l-7.515-6.804c63.183-97.419 172.598-158.9 300.908-158.9zm-65.902 161.234c114.251 0 225.796 75.583 253.638 182.871l-10.126 3.837c-49.992-66.017-131.907-120.727-228.638-120.727-177.997 0-271.476 161.744-257.752 296.833l-10.483 3.838s-19.66-43.38-19.66-94.818c0-148.959 122.328-271.834 273.021-271.834zm75.514 186.945c54.092 0 97.349 43.842 97.349 95.886 0 43.068-27.65 68.591-27.65 68.591l32.753 22.904s-32.478 50.989-98.773 50.989c-63.416 0-119.501-51.186-119.501-120.016 0-70.924 61.006-118.354 115.822-118.354z"/%3E%3C/svg%3E');
}

.alike_cont .eaplay {
	background-color: #ff4747;
	background-image: url('data:image/svg+xml,%3Csvg viewBox="0 0 1000 1000" fill="white" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M499.999 1000C224.297 1000 0 775.701 0 500.001 0 224.297 224.297-.001 499.999-.001 775.698-.001 1000 224.299 1000 500.001 1000 775.7 775.699 1000 499.999 1000zm84.629-693.396H302.054l-42.874 68.901h282.249l43.199-68.901zm57.747.658L469.632 582.324H278.018l44.207-68.959H437.07l43.87-68.926H215.439l-43.861 68.926h62.896l-87.266 137.68h364.189l134.516-212.136 49.046 74.456h-44.224l-41.882 68.959h130.961l45.475 68.721h83.541L642.375 307.262z"/%3E%3C/svg%3E');
}

.alike_cont .eaplaypro {
	background-color: #ff4747;
	background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 1000 1000' fill='white' fill-rule='evenodd' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M896.824 803.809a96.956 96.956 0 015.516-.152v-.086c54.635 0 97.309 41.379 97.309 98.171 0 56.792-42.587 98.258-97.309 98.258-54.722 0-97.395-41.523-97.395-98.171 0-2.023.054-4.026.177-6.013a502.845 502.845 0 0091.702-92.007zm5.516 166.63c-36.088 0-64.815-28.755-64.815-68.697 0-39.941 28.755-68.697 64.815-68.697 36.059 0 64.786 28.756 64.786 68.697 0 39.942-28.755 68.697-64.786 68.697zM733.474 942.025V1000h-33.15v-41.935a496.377 496.377 0 0033.15-16.04z'/%3E%3Cpath d='M805.104 895.875a501.337 501.337 0 01-71.63 46.194V888.29c0-34.35 30.02-60.01 65.95-53.281v-31.57c-29.61-3.95-53.31 9.48-65.95 37.51l.088-33.238h-33.238v150.397c-54.998 24.147-115.165 38.67-178.334 41.414v-110.49h65.965c51.473 0 88.855-34.938 88.855-80.717 0-45.778-37.267-79.911-88.855-79.911H487.857v271.45C217.751 993.395 0 771.648 0 500.001 0 224.297 224.297-.001 499.999-.001 775.698-.001 1000 224.299 1000 500.001c0 114.17-38.465 219.526-103.12 303.796-50.098 2.57-88.996 40.364-91.776 92.078zm-162.053-87.56c0-29.1-21.739-49.287-55.096-49.287H521.99v100.127h65.965c32.58 0 55.096-21.336 55.096-50.84zm-.676-501.053L469.632 582.324H278.018l44.207-68.959H437.07l43.87-68.926H215.439l-43.861 68.926h62.896l-87.266 137.68h364.189l134.516-212.136 49.046 74.456h-44.224l-41.882 68.959h130.961l45.475 68.721h83.541L642.375 307.262zm-57.747-.658H302.054l-42.874 68.901h282.249l43.199-68.901z'/%3E%3C/svg%3E");
}

.alike_cont .sub_flag {
	background-size: 10px 10px;
	background-repeat: no-repeat;
	background-position-y: center;
	background-position-x: 4px;
}

@media (max-width: 768px) {
	.alike_cont.type-3 .sub_text {
		flex-wrap: wrap;
	}

	.alike_cont.type-3 .sub_text span {
		order: 10;
		white-space: normal;
	}
}

@media (max-width: 910px) {
	.alike_cont.type-3 {
		margin: 15px 2%;
	}
}
